/* use #fffcf2, #279156, #0B4737, #0D1821, #629BBC as web colors */
body {
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.menu-format {
    background-color: #fffcf2;
}
/* header styling */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%
}
header div {
    height: 50px;
    width: 50px;
    visibility: hidden;
}
header #site-logo {
    width: 400px;
    height: auto;
}
header .site-cart {
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
header .site-cart span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #629bbc;
    color:#fffcf2;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20px;
}
/* end of header styling
   navigation bar styling */
nav {
    background-color: #fffcf2;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li {
    list-style: none;
}
/* change padding size */
.nav-links li a {
    color: #0D1821;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins";
    font-size: 25px;
    transition: color 0.3s, text-decoration 0.3s;
}
.nav-links li a:hover {
    color: #4b4237;
    text-decoration: underline;
}
/* end of navigation bar styling
   body styling                  */
.main-body-style {
    display: flex;
    flex-direction: column;
    background-color: #279156;
    color: #fffcf2;
    padding: 5px 20px;
    flex: 1 1 auto;
}
/*  height: 100%; 'apply this to above style if any errors are encountered' */
.main-body-style h2 {
    font-size: 2em;
    font-family: 'Poppins';
    font-weight: 600;
}
.main-body-text {
    font-size: 24px;
    font-family: "Raleway";
    text-align: left;
}
/* product page body styling */
#product-body-style {
    background-color: #279156;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
footer {
    background-color: #0D1821;
    font-family: 'Raleway';
    color: #fffcf2;
}
.home-button {
    background-color: #4b4237;
    color:#fffcf2;
    cursor: pointer;
    font-size: 26px;
    font-family: 'Poppins';
    border-radius: 15px;
    width: 216px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.home-button:hover {
    background-color: #584e41;
}
.product-card {
    background-color:#fffcf2;
    text-align: center;
    color:#0D1821;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    max-width: 300px;
    max-height: 80%;
    margin: 1em 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
}
.product-details {
    font-family: "Raleway";
    font-size: 24px;
}
.product-stock-check {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    color:#4b4237;
}
.product-price {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: bold;
}
.product-cartadd-button {
    border: none;
    outline: 0;
    padding: 1em 10px;
    color: #fffcf2;
    background-color: #629bbc;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    margin-top: auto;
    border-radius: 0 0 7px 7px;
}
.product-cartadd-button:hover {
  opacity: 0.8;
}
/* cart styling */
.cart-list {
    background-color: #fffcf2;
    color:#0D1821;
    width: 200vw;
    max-width: 75%;
    padding: 5px 10px;
    margin: 5px auto;
}
.cart-list .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart-list .cart-item img {
    width: 10vw;
    border-radius: 5%;
}