/* use #fffcf2, #279156, #0B4737, #0D1821, #629BBC as web colors */
body {
    margin: 0;
}
div {
    background-color: #279156;
}
/* .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
*/
.menu-format {
    background-color: #fffcf2;
    color:#484848;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    top: 0;
    width: 100%;
}
header p {
    text-align: center;

}
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li {
    list-style: none;
}
#home-body {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: #fffcf2;
}
.main-body-text {
    font-size: 3vh;
    font-family: "Raleway";
}
footer {
    background-color: #484848;
    color: #fffcf2;
}