/* use #fffcf2, #279156, #0B4737, #0D1821, #629BBC as web colors */
body {
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* .poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
*/
.menu-format {
    background-color: #fffcf2;
    color:#484848;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    top: 0;
    padding-top: 2%;
    padding-bottom: 2%
}
header img {
    width: 400px;
    height: auto;
}
/* header p {
    text-align: center;

}*/
nav {
    background-color: #fffcf2;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li {
    list-style: none;
}
/* change padding size */
.nav-links li a {
    color: #0D1821;
    box-sizing: border-box;
    height: 100%;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins";
    font-size: 25px;
    transition: color 0.3s, text-decoration 0.3s;
}
.nav-links li a:hover {
    color: #4b4237;
    text-decoration: underline;
}
div {
    background-color: #279156;
}
.main-body-style {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: #fffcf2;
    flex: 1 1 auto;
}
/*  height: 100%; 'apply this to above style if any errors are encountered' */
.main-body-text {
    font-size: 16pt;
    font-family: "Raleway";
}
/* product page body styling */
#product-body-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
footer {
    background-color: #0D1821;
    font-family: 'Raleway';
    color: #fffcf2;
}
.product-card {
    background-color:#fffcf2;
    text-align: center;
    color:#0D1821;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    max-width: 300px;
    max-height: 80%;
    margin: 1em 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
}
.product-details {
    font-family: "Raleway";
    font-size: 24px;
}
.product-stock-check {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    color:#4b4237;
}
.product-price {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: bold;
}
.product-cartadd-button {
    border: none;
    outline: 0;
    padding: 1em 10px;
    color: #fffcf2;
    background-color: #629bbc;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    margin-top: auto;
    border-radius: 0 0 7px 7px;
}
.product-cartadd-button:hover {
  opacity: 0.8;
}